In [3]:
import warnings

warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import math
from datetime import date
from dateutil.relativedelta import relativedelta

In [130]:
print(date.today())

2021-10-27

In [12]:
orig_df = pd.read_csv('Kinfine HomePop Pier 1 Inventory_101821.csv')
orig_df.drop(columns = ['Unnamed: 7'])

,SKU,Name,UPC,2021 Wholesale Cost,New Jersey,Chino,re-stock date
0,K1401.24-YDQY-2,"HomePop 24"" Luxury Faux Leather Barstool - Dis...",655258859957,$81.49,0,40,NaN
1,K1401-24-E073,"24"" luxury black faux leather barstool",655258822821,$82.97,0,25,NaN
2,K1401-29-E074,"29"" luxury brown faux leather barstool",655258822852,$77.70,0,0,3/1/2022
3,K2380-E155,Large Faux Leather Storage Ottoman Brown,655258834497,$97.72,0,50,NaN
4,K2380-E169,Luxury Large Black Faux Leather Storage Ottoman,655258834508,$97.72,0,0,3/1/2022
...,...,...,...,...,...,...,...
115,N8264-F1077,Tan and Cream Tweed Tufted Storage Ottoman,655258824009,$75.26,0,4,NaN
116,N8264-F2111,Asda Large Tufted Round Storage Ottoman Dark Gray,655258857540,$79.02,0,20,NaN
117,N8264-F2206,Asda Large Tufted Round Storage Ottoman Light ...,655258857557,$79.02,0,0,3/1/2022
118,N8264-F2207,Asda Large Tufted Round Storage Ottoman Light Tan,655258857564,$79.02,0,10,NaN
119,N8264-YDQY-2,HomePop Large Tufted Round Storage Ottoman - D...,655258860199,$82.97,0,0,3/1/2022

In [78]:
realTime_df = pd.read_csv('KinfineRealTimeInventoryResults 10-25-2021.csv')
realTime_df = realTime_df[['Name', 'Location Available', 'Location']]
realTime_df = realTime_df[realTime_df['Location'] == 'KFHQ']
realTime_df

,Name,Description,Location,Location On Hand,Location Committed,Location Available
0,001775972,"Leather Storage Bench with tray, Brown \r\n",KFHQ,105.0,NaN,105.0
3,001776000,"LE STRG BC TRY,BLK \r\n",KFHQ,104.0,NaN,104.0
7,097-15-0030,K8210R2410,KFHQ,NaN,NaN,NaN
9,097-15-0035,Twin Upholstered -Bed - Peach K8210R2409,KFHQ,NaN,NaN,NaN
11,097-15-0041,Twin Upholstered -Bed - Gray K8210F2410,KFHQ,NaN,NaN,NaN
...,...,...,...,...,...,...
1583,N8264-F2111,HomePop Large Tufted Round Storage Ottoman - D...,KFHQ,199.0,5.0,194.0
1587,N8264-F2206,HomePop Large Tufted Round Storage Ottoman - L...,KFHQ,50.0,1.0,49.0
1588,N8264-F2207,HomePop Large Tufted Round Storage Ottoman - L...,KFHQ,81.0,3.0,78.0
1590,N8264-YDQY-2,HomePop Large Tufted Round Storage Ottoman - D...,KFHQ,NaN,NaN,NaN
1593,N8521-E208,Storage Cocktail Bench,KFHQ,133.0,2.0,131.0

In [21]:
realTime_df['Name'] = realTime_df['Name'].astype(str)
orig_df['SKU'] = orig_df['SKU'].astype(str)
realTime_df.rename(columns = {'Name':'SKU'}, inplace = True)
realTime_df.head()

            SKU  Location Available Location
0     001775972               105.0     KFHQ
3     001776000               104.0     KFHQ
7   097-15-0030                 NaN     KFHQ
9   097-15-0035                 NaN     KFHQ
11  097-15-0041                 NaN     KFHQ

In [45]:
new_df = pd.merge(orig_df, realTime_df, on = 'SKU', how = 'left')
chino = new_df['Chino']
supply = new_df['Location Available']

#somehow we going into all the rows

for x in range(len(chino)):
    if math.isnan(supply[x]) == False:

        if supply[x] <= 40:
            chino[x] = 0
        elif supply[x] <= 60:
            chino[x] = 10
        elif supply[x] <= 100:
            chino[x] = 20
        else:
            chino[x] = chino[x] * .3
new_df

<ipython-input-45-1b20433ddb30>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = chino[x] * .3
<ipython-input-45-1b20433ddb30>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 0
<ipython-input-45-1b20433ddb30>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 10
<ipython-input-45-1b20433ddb30>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 20

,SKU,Name,UPC,2021 Wholesale Cost,New Jersey,Chino,re-stock date,Unnamed: 7,Location Available,Location
0,K1401.24-YDQY-2,"HomePop 24"" Luxury Faux Leather Barstool - Dis...",655258859957,$81.49,0,12,NaN,#NAME?,188.0,KFHQ
1,K1401-24-E073,"24"" luxury black faux leather barstool",655258822821,$82.97,0,7,NaN,NaN,165.0,KFHQ
2,K1401-29-E074,"29"" luxury brown faux leather barstool",655258822852,$77.70,0,0,3/1/2022,NaN,2.0,KFHQ
3,K2380-E155,Large Faux Leather Storage Ottoman Brown,655258834497,$97.72,0,15,NaN,NaN,544.0,KFHQ
4,K2380-E169,Luxury Large Black Faux Leather Storage Ottoman,655258834508,$97.72,0,0,3/1/2022,NaN,NaN,KFHQ
...,...,...,...,...,...,...,...,...,...,...
115,N8264-F1077,Tan and Cream Tweed Tufted Storage Ottoman,655258824009,$75.26,0,20,NaN,NaN,82.0,KFHQ
116,N8264-F2111,Asda Large Tufted Round Storage Ottoman Dark Gray,655258857540,$79.02,0,6,NaN,NaN,194.0,KFHQ
117,N8264-F2206,Asda Large Tufted Round Storage Ottoman Light ...,655258857557,$79.02,0,10,3/1/2022,NaN,49.0,KFHQ
118,N8264-F2207,Asda Large Tufted Round Storage Ottoman Light Tan,655258857564,$79.02,0,20,NaN,NaN,78.0,KFHQ
119,N8264-YDQY-2,HomePop Large Tufted Round Storage Ottoman - D...,655258860199,$82.97,0,0,3/1/2022,NaN,NaN,KFHQ

In [57]:
new_df['Chino'] = chino
new_df = new_df.iloc[:,0:7]
new_df

,SKU,Name,UPC,2021 Wholesale Cost,New Jersey,Chino,re-stock date
0,K1401.24-YDQY-2,"HomePop 24"" Luxury Faux Leather Barstool - Dis...",655258859957,$81.49,0,12,NaN
1,K1401-24-E073,"24"" luxury black faux leather barstool",655258822821,$82.97,0,7,NaN
2,K1401-29-E074,"29"" luxury brown faux leather barstool",655258822852,$77.70,0,0,3/1/2022
3,K2380-E155,Large Faux Leather Storage Ottoman Brown,655258834497,$97.72,0,15,NaN
4,K2380-E169,Luxury Large Black Faux Leather Storage Ottoman,655258834508,$97.72,0,0,3/1/2022
...,...,...,...,...,...,...,...
115,N8264-F1077,Tan and Cream Tweed Tufted Storage Ottoman,655258824009,$75.26,0,20,NaN
116,N8264-F2111,Asda Large Tufted Round Storage Ottoman Dark Gray,655258857540,$79.02,0,6,NaN
117,N8264-F2206,Asda Large Tufted Round Storage Ottoman Light ...,655258857557,$79.02,0,10,3/1/2022
118,N8264-F2207,Asda Large Tufted Round Storage Ottoman Light Tan,655258857564,$79.02,0,20,NaN
119,N8264-YDQY-2,HomePop Large Tufted Round Storage Ottoman - D...,655258860199,$82.97,0,0,3/1/2022

In [38]:
SKU,Name,UPC, 2021 Wholesale Cost ,New Jersey,Chino,re-stock date,

False

In [46]:

def automateSmallInventory(inventory, realTimeInventory):
    orig_df = pd.read_csv(inventory)
    orig_df.drop(columns = ['Unnamed: 7'])
    realTime_df = pd.read_csv(realTimeInventory)
    realTime_df = realTime_df[['Name', 'Location Available', 'Location']]
    realTime_df = realTime_df[realTime_df['Location'] == 'KFHQ']
    realTime_df['Name'] = realTime_df['Name'].astype(str)
    orig_df['SKU'] = orig_df['SKU'].astype(str)
    realTime_df.rename(columns = {'Name':'SKU'}, inplace = True)
    new_df = pd.merge(orig_df, realTime_df, on = 'SKU', how = 'left')
    chino = new_df['Chino']
    supply = new_df['Location Available']

    #somehow we going into all the rows

    for x in range(len(chino)):
        if math.isnan(supply[x]) == False:

            if supply[x] <= 40:
                chino[x] = 0
            elif supply[x] <= 60:
                chino[x] = 10
            elif supply[x] <= 100:
                chino[x] = 20
            else:
                chino[x] = int(supply[x] * .3)
                
    new_df['Chino'] = chino
    new_df = new_df.iloc[:,0:7]
    new_df.to_excel('.\\Homepop\\revisedHomePOP_' + str(date.today()) + '.xlsx')

In [47]:
url1 = 'Kinfine HomePop Pier 1 Inventory_101821.csv'
url2 = 'KinfineRealTimeInventoryResults 10-25-2021.csv'
revised_df = automateSmallInventory(url1,url2)

<ipython-input-46-91d201137666>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = int(supply[x] * .3)
<ipython-input-46-91d201137666>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 0
<ipython-input-46-91d201137666>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 10
<ipython-input-46-91d201137666>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 20

In [44]:
def automateKirkland(kirk_inv, curr_inventory):
    kirkland_df = pd.read_excel(kirk_inv)
    kirkland_df.rename(columns = {'Vendor Part Number ':'SKU'}, inplace = True)
    kirkland_df['SKU'] = kirkland_df['SKU'].astype(str)
    
    realTime_df = pd.read_csv(curr_inventory)
    realTime_df = realTime_df[['Name', 'Location Available', 'Location']]
    realTime_df = realTime_df[realTime_df['Location'] == 'KFHQ']
    realTime_df['Name'] = realTime_df['Name'].astype(str)

    realTime_df.rename(columns = {'Name':'SKU'}, inplace = True)
    updated_kirkland = pd.merge(kirkland_df, realTime_df, on = 'SKU', how = 'left')
    
    supply = updated_kirkland['Location Available']
    chino = updated_kirkland['Inventory']
    for x in range(len(chino)):
        if math.isnan(supply[x]) == False:

            if supply[x] <= 40:
                chino[x] = 0
            elif supply[x] <= 60:
                chino[x] = 10
            elif supply[x] <= 100:
                chino[x] = 20
            else:

                chino[x] = int(supply[x] * .3)

    updated_kirkland['Inventory'] = chino
    updated_kirkland = updated_kirkland.iloc[: , 0:3]
    updated_kirkland.to_excel('.\\Kirkland\\updated_kirkland_' + str(date.today()) + '.xlsx')

In [45]:
kirk_inv = "Kirkland's Inventory.xlsx"
curr_inventory = 'KinfineRealTimeInventoryResults 10-25-2021.csv'
automateKirkland(kirk_inv,curr_inventory)

<ipython-input-44-9879a060669b>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 0
<ipython-input-44-9879a060669b>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 20
<ipython-input-44-9879a060669b>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 10
<ipython-input-44-9879a060669b>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = int(supply[x] * .3)

In [120]:
realTime_df = pd.read_csv('KinfineRealTimeInventoryResults 10-25-2021.csv')
realTime_df = realTime_df[['Name', 'Location Available', 'Location']]
realTime_df = realTime_df[realTime_df['Location'] == 'KFHQ']
realTime_df['Name'] = realTime_df['Name'].astype(str)

realTime_df.rename(columns = {'Name':'SKU'}, inplace = True)
updated_kirkland = pd.merge(kirkland_df, realTime_df, on = 'SKU', how = 'left')
updated_kirkland

,SKU,Kirkland's Item Number (Kirklands use only),Inventory,Location Available,Location
0,K2380-E903,220905,10,27.0,KFHQ
1,K2380-F1399,262799,30,61.0,KFHQ
2,K2380-YDQY-2,220906,2,39.0,KFHQ
3,K2984-F2322,192759,20,97.0,KFHQ
4,K4235-B237,159117,0,NaN,NaN
...,...,...,...,...,...
134,N8264-E903,220900,0,12.0,KFHQ
135,N8264-F2110,192771,0,35.0,KFHQ
136,N8264-F2111,192772,20,194.0,KFHQ
137,N8264-F2206,192773,0,49.0,KFHQ
138,N8264-YDQY-2,220901,0,NaN,KFHQ

In [121]:

supply = updated_kirkland['Location Available']
chino = updated_kirkland['Inventory']
for x in range(len(chino)):
    if math.isnan(supply[x]) == False:

        if supply[x] <= 40:
            chino[x] = 0
        elif supply[x] <= 60:
            chino[x] = 10
        elif supply[x] <= 100:
            chino[x] = 20
        else:

            chino[x] = int(supply[x] * .3)

updated_kirkland['Inventory'] = chino
updated_kirkland = updated_kirkland.iloc[: , 0:3]
updated_kirkland

<ipython-input-121-e1f12afb5e47>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 0
<ipython-input-121-e1f12afb5e47>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 20
<ipython-input-121-e1f12afb5e47>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = 10
<ipython-input-121-e1f12afb5e47>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chino[x] = supply[x] * .3

              SKU  Kirkland's Item Number (Kirklands use only)  Inventory
0      K2380-E903                                       220905          0
1     K2380-F1399                                       262799         20
2    K2380-YDQY-2                                       220906          0
3     K2984-F2322                                       192759         20
4      K4235-B237                                       159117          0
..            ...                                          ...        ...
134    N8264-E903                                       220900          0
135   N8264-F2110                                       192771          0
136   N8264-F2111                                       192772         58
137   N8264-F2206                                       192773         10
138  N8264-YDQY-2                                       220901          0

[139 rows x 3 columns]

In [6]:
def automateNFM(inventory, realTimeInventory):
    
    realTime_df = pd.read_csv(realTimeInventory)
    realTime_df = realTime_df[['Name', 'Location Available', 'Location']]
    realTime_df = realTime_df[realTime_df['Location'] == 'KFHQ']
    realTime_df['Name'] = realTime_df['Name'].astype(str)

    realTime_df.rename(columns = {'Name':'SKU'}, inplace = True)
    
    
    nfm_df = pd.read_excel(inventory)
    nfm_df.rename(columns = {'20210329':'SKU'}, inplace = True)
    updated_nfm = pd.merge(nfm_df, realTime_df, on = 'SKU', how = 'left')
    stock = updated_nfm['CA']
    availability = updated_nfm['Chino']
    supply = updated_nfm['Location Available']

    for x in range(len(stock)):
        if math.isnan(supply[x]) == False:
            #change supply
            if supply[x] <= 40:
                stock[x] = 0
            elif supply[x] <= 60:
                stock[x] = 10
            elif supply[x] <= 100:
                stock[x] = 20
            else:
                stock[x] = int(supply[x] * .3)

            #change availability
        if availability[x] != 'DI':
            if stock[x] == 0:
                availability[x] = 'OS'
            else:
                availability[x] = 'AV'
    updated_nfm['CA'] = stock
    updated_nfm['Chino'] = availability
    updated_nfm = updated_nfm.iloc[:,0:11]
    updated_nfm.to_excel('.\\NFM\\updated_NFM_' + str(date.today()) +'.xlsx', index = False)

In [5]:
realTime = 'KinfineRealTimeInventoryResults 10-25-2021.csv'
inventory = 'nfmInventory.xlsx'
automateNFM(inventory, realTime)

KeyError: 'SKU'

In [105]:
realTime_df = pd.read_csv('KinfineRealTimeInventoryResults 10-25-2021.csv')
realTime_df = realTime_df[['Name', 'Location Available', 'Location']]
realTime_df = realTime_df[realTime_df['Location'] == 'KFHQ']
realTime_df['Name'] = realTime_df['Name'].astype(str)

realTime_df.rename(columns = {'Name':'SKU'}, inplace = True)

In [154]:
nfm_df = pd.read_excel('nfmInventory.xlsx')
nfm_df.rename(columns = {'20210329.1':'SKU'}, inplace = True)
updated_nfm = pd.merge(nfm_df, realTime_df, on = 'SKU', how = 'left')
stock = updated_nfm['CA']
availability = updated_nfm['Chino']
supply = updated_nfm['Location Available']
restock = updated_nfm['Unnamed: 10']


given_date = date.today()
future_date = given_date+ relativedelta(months=5)
future_date = str(future_date).replace('-','')


for x in range(len(stock)):
    if math.isnan(supply[x]) == False:
        #change supply
        if supply[x] <= 40:
            stock[x] = 0
        elif supply[x] <= 60:
            stock[x] = 10
        elif supply[x] <= 100:
            stock[x] = 20
        else:
            stock[x] = int(supply[x] * .3)
        
        #change availability
    if availability[x] != 'DI':
        if stock[x] == 0:
            availability[x] = 'OS'
            if math.isnan(restock[x]):
                print(restock[x])
                restock[x] = future_date
            
        else:
            availability[x] = 'AV'
    
    #update restock
    
updated_nfm['CA'] = stock
updated_nfm['Chino'] = availability
updated_nfm['Unnamed: 10'] = restock
updated_nfm = updated_nfm.iloc[:,0:11]
updated_nfm['Unnamed: 10'][10]

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

20220301.0

In [146]:


given_date = date.today()


future_date = given_date+ relativedelta(months=5)
future_date = str(future_date).replace('-','')

20220327

In [131]:
date.today()

datetime.date(2021, 10, 27)

In [38]:
updated_nfm = updated_nfm.iloc[:,0:11]
updated_nfm

,HDR,20210329,SKU,OSHQ,13824 Yorba Ave,Unnamed: 5,Chino,CA,91710,USA,Unnamed: 10
0,DET,1,K1401-24-E074,NaN,41869009,"24"" COUNTER STOOL",AV,10.0,EA,62.95,NaN
1,DET,2,K1401-29-E073,NaN,41869017,"29"" BARSTOOL",AV,52.0,EA,64.10,NaN
2,DET,3,K2380-E155,NaN,41869108,LRG OTTOMAN BRWN LTHR,AV,163.0,EA,85.67,NaN
3,DET,4,K2380-E903,NaN,56246002,LARGE STORAGE OTTOMAN,OS,0.0,EA,97.68,NaN
4,DET,5,K2380-F1399,NaN,60274263,Large Storage Ottoman in Tan,AV,20.0,EA,86.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
220,DET,221,K7783-A868,NaN,56245699,LARGE SQUARE OTTOMAN,DI,0.0,EA,199.50,NaN
221,DET,222,K7874-E903,NaN,56246275,ROUND OTTOMAN,DI,0.0,EA,65.40,NaN
222,DET,223,K8151-E900,NaN,54834841,"24"" SWIVEL COUNTER STOOL",DI,0.0,EA,76.30,NaN
223,DET,224,K7770-F2377,NaN,56246176,KID'S SLIPPER CHAIR,DI,0.0,EA,92.76,NaN
224,DET,225,K7785-YDQY2,NaN,54834924,LRG PILLOWTOP OTTOMAN,DI,0.0,EA,104.64,NaN

In [91]:
def automateHomeDepot(inventory, realTime):
    #load real time data
    realTime_df = pd.read_csv(realTime)
    realTime_df = realTime_df[['Name', 'Location Available', 'Location']]
    realTime_df = realTime_df[realTime_df['Location'] == 'KFHQ']
    realTime_df['Name'] = realTime_df['Name'].astype(str)

    realTime_df.rename(columns = {'Name':'SKU'}, inplace = True)

    homedepot_df = pd.read_excel(inventory)

    homedepot_df.rename(columns = {'VENDOR SKU':'SKU'}, inplace = True)
    updated_homedepot = pd.merge(homedepot_df, realTime_df, on = 'SKU', how = 'left')
    stock = updated_homedepot['QTY']
    availability = updated_homedepot['AVAILABLE']
    supply = updated_homedepot['Location Available']

    

    for x in range(len(stock)):
        if math.isnan(supply[x]) == False:
            #change supply
            if supply[x] <= 40:
                stock[x] = 0
            elif supply[x] <= 60:
                stock[x] = 10
            elif supply[x] <= 100:
                stock[x] = 20
            else:
                stock[x] = int(supply[x] * .3)

            #change availability
        if stock[x] == 0:
            availability[x] = 'No'
        else:
            availability[x] = 'Yes'



    updated_homedepot['AVAILABLE'] = availability
    updated_homedepot['QTY'] = stock
    updated_homedepot = updated_homedepot.iloc[:,0:45]

    updated_homedepot.to_csv('.\\HomeDepot\\updatedHomeDepot_' + str(date.today()) + '.csv')

In [92]:
inventory = 'HomeDepotInventory1.xlsx'
realTime = 'KinfineRealTimeInventoryResults 10-25-2021.csv'
automateHomeDepot(inventory, realTime)

<ipython-input-91-a580ba022751>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock[x] = 0
<ipython-input-91-a580ba022751>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability[x] = 'No'
<ipython-input-91-a580ba022751>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock[x] = int(supply[x] * .3)
<ipython-input-91-a580ba022751>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  availability[x] = 'Yes'
<ipython-input-91-a580ba022751>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock[x] = 20
<ipython-input-91-a580ba022751>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock[x] = 10